<%= link_to "Bikes", "/bikes" %>

<h1>Companies</h1>
<ul>
  <% @companies.order_by_last_created.each do |company| %>
  <li><%= company.name %> Created at:<%= company.created_at %></li>
  <% end %>
</ul> 
