<%= link_to "Bikes", "/bikes" %>
<%= link_to "Companies", "/companies" %>

<ul>
  <% @bikes.each do |bike| %>
  <% if bike.full_suspension == true %>
    <li><%= bike.name %></li>
      <% end %>
  <% end %>
</ul>
